

.action {
  text-align: left;
}

.note {
  height: 200px;
  width: 200px;
  padding: 0.2rem 1rem;
  margin: 0.5rem;
  background: #fcb276;
  box-shadow: 4px 4px 8px 1px #00000075;
  border-radius: 6px;
  display: grid;
}

.container {
  padding: 0 2rem;
}


.title {
  padding: 0.1rem;
  font-size: 1rem;
}


.created {
  font-size: 0.5rem;
  font-weight: lighter;
}
