

.action {
  text-align: left;
}

.note {
  height: 260px;
  width: 240px;
  padding: 0.1rem 0.5rem;
  margin: 0.5rem;
  overflow: hidden;

  box-shadow: 4px 4px 8px 1px #00000075;
  border-radius: 2px;
  display: grid;
}

.container {
  padding: 0 2rem;
}


.title {
  padding: 0.1rem;
  font-size: 1rem;
}


.created {
  font-size: 0.5rem;
  font-weight: lighter;
}
