@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 20px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
    padding: 0 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input, textarea {
  display: block;
  /* border-radius: 6px;
  max-width: 500px;
  margin: 0.5rem 0;

  border: none;
  border-bottom: 1px solid #242424; */
}

input {
width: 100%;
  }
textarea {

  width: 80%;
        height: 150px;
}



 input, textarea::placeholder {
  font-weight: bold;
    opacity: 0.5;
    color: rgb(110, 110, 110);
}

button {
  background-color: #000000;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

nav a {
  font-weight: bold;
  margin: 0 0.5rem;
  text-decoration: underline;
}


form {
  border: solid 2px red;
  width: 60%;
  background-color: antiquewhite;
}
